body { 
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif !important;
}
.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Open Sans', sans-serif !important;-
}
nav {
    position: fixed;
    height: 6vh;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    overflow: hidden;
}
main {
    margin-top: 7vh;
    min-height: 85vh;
    margin-left: 12.5vw;
    overflow-x:auto;
}
.menu {
    width: 75vw;
}
#frmsearch {
    width: 75vw;
    text-align: right;
    margin: 7vh 0 -7vh 12.5vw;
}
#frmsearch input {
    display: inline-block;
    margin: 0 5px;
}
#logIn, #logOut {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    font-size: 2vh;
    width: 8vw;
    text-align: right;    
}
#logIn {
    text-align: center;
}
label, input {
    display:block;
    padding: 2px 5px 5px 5px;
}
input.text { 
    margin-bottom:12px; 
    width:95%;
    padding: .4em; 
}
#login-form fieldset { 
    padding:0;
    border:0;
}
legend {
    font-weight: bold;
    padding: 0 5px;
}
.singlecolumn, .doublecolumn{
    width: 50vw;
}

.singlecolumn fieldset {
    display: inline-block;
    border: 1px solid #d9d6c4;
    width: 50vw;
    padding: 5px;
}
.singlecolumn input {
    width: 48vw;
}
.doublecolumn fieldset {
    padding: 5px;
    display: inline-block;
    border: 1px solid #d9d6c4;
    width: 23vw;
}
.doublecolumn input {
    width: 22vw;
}
.doublecolumn input[type=submit] {
    margin: 10px 0 0 10px;
}
caption {
    font-size: 20px;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #E9C5B9;
    font-weight: bolder;
}
#column1, #column2, #column3 {
    width: 25vw;
    float: left;
    overflow: hidden;
}
.menucategory{
    display: block;
    margin: 5px auto;
    width: 24.5vw;
}
.alignright {
    text-align: right;
}
.right {
    float: right;
}
th {
    font-weight: bold;
    padding: 8px 3px;
}
table {
    max-width: 75vw;
}
td {
    padding: 7px 10px;
    
}
.fullwidth {
    width: 100%;
}
tr {
    border-bottom: 1px solid #E9C5B9;
}
.ui-dialog, .ui-state-error { 
    padding: .3em;
    margin-bottom: 5px;
}
.errorTips { 
    border: 1px solid transparent; 
    padding: 0.3em;
    margin-bottom: 5px;
}
nav ul {
    list-style-type: none;
    display: inline-block;
    max-height: 6vh;
}
nav li{
    display: inline-block;
}
nav > ul > li > a {
    color: black;
    text-decoration: none;
    display: inline-block;
    height: 80%;
    padding: 0 1vw;
    font-size: 2.5vh;
    height: 4.5vh;
    padding-top: 1.5vh;
}
nav > ul > li > a:hover {
    text-decoration: underline;
}
.description {
    font-style: italic;
    font-size: 13px;
}
.front {
    text-align: center;
    padding: 3vh 0;
}
h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5vh;
    margin-top: 4vh;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3vh;
    margin-top: 2vh;
}
h3 {
    font-size: 2.5vh;
    margin-top: 3vh;
}
.clear {
    clear: both;
}
.strong {
    font-weight: bold;
}
.center {
    text-align: center;
}
footer {
    clear: both;
    text-align: center;
    height: 4vh;
    color: #666;
}
.edit > .ui-button-text {
    margin: 0;
    padding: 5px 0;
    width: 8vw;
}

button {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;

}
#tafels {
    background-image: url(../images/tables2.png);
    background-size: contain;
    background-repeat: no-repeat;
    display:block;
    height: 89vh;
    width: 100%;
}